<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Records
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="record-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Records
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="record-link">
                <a href="" class="dropdown-item">Albums</a>
                <a href="" class="dropdown-item">Singles</a>
                <a href="" class="dropdown-item">Pre-Owned</a>
                <a href="" class="dropdown-item">All Records</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cd-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CD's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cd-link">
                <a href="" class="dropdown-item">Albums</a>
                <a href="" class="dropdown-item">Singles</a>
                <a href="" class="dropdown-item">Pre-Owned</a>
                <a href="" class="dropdown-item">All CD's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>